
td {
    color: rgb(255, 127, 7);
}
form {
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 25px;
    background-color: aquamarine;
    width: 30%;
}
table {
    background-color: white;
    width: 95%;
    border-collapse: collapse;
    height: 200px;
}
tr
{
    position: 50px;
}
.header
{
    background-color: rgb(225, 87, 23);
    color: white;
}